mixin nav-content()
	ul
		li: a(href="../#about") Home
		li: a(href="../#portfolio") Portfolio
		// li: a(href="../#articles") Articles
		li: a(href="https://github.com/csparx") Github
		li: a(href="https://twitter.com/ChristyNSparks") Twitter
		li: a(href="https://www.linkedin.com/in/christy-sparks-88b80a25") LinkedIn
		li: a(href="../#contact") Contact

.mobile-nav
	+nav-content()

header
	.header-position
		h1.logo Christy Sparks

		nav.site-nav
			+nav-content()

		a(href="mailto:csparks91@gmail.com").email-link +email me

		.mobile-nav-toggle: span
