header
	.header-position
		h1.logo Christy Sparks

		nav.site-nav
			ul
				li: a(href="#about") Home
				li: a(href="#portfolio") Portfolio
				li: a(href="#articles") Articles
				li: a(href="#contact") Contact

		a(href="mailto:csparks91@gmail.com").email-link +email me
