section.portfolio-contain
  .block
    .project-title
      h2 Café Racer Magazine
      h4 +Wordpress, jQuery, PHP
      a(href='http://caferacermag.com')
        h4.website-link www.caferacermag.com
      hr
    .screenshot
      a(href='assets/img/portfolio/caferacer/cr-homepage-updated.jpg',data-lightbox='caferacer')
        img(src='assets/img/portfolio/caferacer/cr-homepage-updated.jpg')
    .description.quote
      p  "Your complete, bimonthly guide to cafe racers, classic bikes, specials, hybrids, British iron, streetfighters and other incredible, high-performance motorcycles."
    .description
      p I was approached by Café Racer Magazine to revise their current ecommerce website. After redesigning the website, sales greatly increased as well as traffic to their website. Over the years, the small ecommerce website has evolved into a website for digital magazines, streaming media, etc.  
      p I created the website using Wordpress. The homepage, pictured above, features the newest issue of the Café Racer Magazine with a right column containing the featured instagram feed and search bar. The newest sale is highlighted above with a banner.
    .screenshot
      a(href='assets/img/portfolio/caferacer/cr-swag.jpg',data-lightbox='caferacer')
        img(src='assets/img/portfolio/caferacer/cr-swag.jpg')
    .description
      p The picture above showcases the general product page. Café Racer Magazine sells t-shirts, dvds, badges, patches, etc.
    .screenshot
      a(href='assets/img/portfolio/caferacer/cr-account.jpg',data-lightbox='caferacer')
        img(src='assets/img/portfolio/caferacer/cr-account.jpg')
    .description
      p The account page was created after the additional digital magazine and streaming services were created. All purchased digital magazines will show up on the user's account page depending on their digital magazine subscription. Any video streaming purchased will show up on this page as well.
    .screenshot
      a(href='assets/img/portfolio/caferacer/cr-digital-mag.jpg',data-lightbox='caferacer')
        img(src='assets/img/portfolio/caferacer/cr-digital-mag.jpg')
    .description
      p A digital magazine subscription is picture above. Users have the option of viewing the magazine full screen as well on all mobile devices.
    .screenshot
      a(href='assets/img/portfolio/caferacer/cr-video-streaming.jpg',data-lightbox='caferacer')
        img(src='assets/img/portfolio/caferacer/cr-video-streaming.jpg')
    .description
      p Video streaming services provide streaming of all episodes. Once episode is shown per page. Only users who have purchased the streaming package will be able to view these videos as well as download them.
