section.contact
  .block
    h2.contact-header Contact Me
    .contact-box
      input(placeholder='Name').field-50
      input(placeholder='Email').field-50
      textarea(placeholder='Message', rows='5').message
      a.contact-button Send Message
