mixin portfolio-img(link, img)
  a(href=link).portfolio-img-link
    img(src=img)

section.portfolio#portfolio
  .flex.flex--center
    .col-30
      +portfolio-img('/forestree.html', 'assets/img/portfolio/work-1.jpg')
      +portfolio-img('http://www.changethroughlearning.co.uk/', 'assets/img/portfolio/work-2.jpg')
      //+portfolio-img('#', 'assets/img/portfolio/work-3.jpg')
    .col-30
      +portfolio-img('/caferacer.html', 'assets/img/portfolio/work-caferacer.jpg')
      +portfolio-img('http://www.beauthenticstore.com', 'assets/img/portfolio/work-7.jpg')
      //+portfolio-img('#', 'assets/img/portfolio/work-6.jpg')
    .col-30
      +portfolio-img('http://www.bioenergyshow.com', 'assets/img/portfolio/work-bio.jpg')
      +portfolio-img('http://www.poweret.com', 'assets/img/portfolio/work-pet.jpg')
      //+portfolio-img('#', 'assets/img/portfolio/work-9.jpg')
  .button-div
    a(href="#").view-more#loadMore View More


// +portfolio-img('http://www.changethroughlearning.co.uk/', 'assets/img/portfolio/work-2.jpg')
// +portfolio-img('http://www.robsouth.org', 'assets/img/portfolio/work-8.jpg')