section.about#about
  .flex.flex--center
    .col-1.push-left.blue-overlay
      h2 Hi, I’m Christy Sparks
      p.home-lead
        | Front-end web developer
        | Wordpress enthusiast
        | Dedicated lifelong learner
        | Based in Alabama.
      p.home-cta
        a(href='#contact').contact-button Contact Me
