section.about#about
  .flex.flex--center
    .col-1.blue-overlay
      h1.logo Christy Sparks
      h2 Hi, I’m Christy Sparks
      p.home-lead
        | Full stack web developer
        | Wordpress enthusiast
        | Dedicated lifelong learner
        | Based in Alabama.
      p.home-cta
        a(href='mailto:sparkswebdev@gmail.com').contact-button Contact Me
