section.links
  .flex
    .github
      a(href='https://github.com/csparx').portfolio-img-link
        span.github-img
    .twitter
      a(href='https://twitter.com/ChristyNSparks').portfolio-img-link
        span.twitter-img
    .linkedin
      a(href='https://www.linkedin.com/in/christy-sparks-88b80a25').portfolio-img-link
        span.linkedin-img
