section.links
  .flex
    .github
      a(href='#').portfolio-img-link
        img(src='assets/img/github.png')
    .twitter
      a(href='#').portfolio-img-link
        img(src='assets/img/twitter.png')
    .linkedin
      a(href='#').portfolio-img-link
        img(src='assets/img/linkedin.png')
