<section class="portfolio-contain">
    <div class="block">
        <div class="project-title">
            <h2>AFJROTC Aviation Qualifying Test</h2>
            <h4>+Javascript, jQuery, PHP</h4>
            <hr/>
        </div>
		<a href="assets/videos/jrotc.gif" data-lightbox="jrotc"><img src="assets/videos/jrotc.gif" /></a>

		<a href="assets/img/portfolio/jrotc/jrotc-question.png" data-lightbox="jrotc"><img src="assets/images/portfolio/jrotc/jrotc-question.png" /></a>

		<a href="assets/img/portfolio/jrotc/jrotc-images.png" data-lightbox="jrotc"><img src="assets/images/portfolio/jrotc/jrotc-images.png" /></a>

		<a href="assets/img/portfolio/jrotc/jrotc-data.png" data-lightbox="jrotc"><img src="assets/images/portfolio/jrotc/jrotc-data.png" /></a>

	</div>
</section>