<section class="portfolio-contain">
    <div class="block">
        <div class="project-title">
            <h2>Expo Designs (Banners, Maps, etc.)</h2>
            <hr/>
        </div>

        <a href="assets/img/portfolio/expo/expo-fet.png" data-lightbox="expo"><img src="assets/images/portfolio/expo/expo-fet.png" /></a>

        <a href="assets/img/portfolio/expo/expo-midatl17.png" data-lightbox="expo"><img src="assets/images/portfolio/expo/expo-midatl17.png" /></a>

        <a href="assets/img/portfolio/expo/expo-inwoods15.png" data-lightbox="expo"><img src="assets/images/portfolio/expo/expo-inwoods15.png" /></a>

        <a href="assets/img/portfolio/expo/expo-midatl17-2.png" data-lightbox="expo"><img src="assets/images/portfolio/expo/expo-midatl17-2.png" /></a>

	</div>
</section>