<section class="portfolio-contain">
    <div class="block">
        <div class="project-title">
            <h2>Wood Bioenergy Conference & Expo</h2>
            <h4>+Javascript, jQuery, PHP</h4>
            <a href="http://bioenergyshow.com/">
                <h4 class="website-link">www.bioenergyshow.com</h4>
            </a>
            <hr/>
        </div>

		<a href="assets/img/portfolio/bioenergy/bioenergy-homepage.png" data-lightbox="bioenergy"><img src="assets/images/portfolio/bioenergy/bioenergy-homepage.png" /></a>

        <a href="assets/img/portfolio/bioenergy/bioenergy-sponsors.png" data-lightbox="bioenergy"><img src="assets/images/portfolio/bioenergy/bioenergy-sponsors.png" /></a>


	</div>
</section>