<section class="portfolio-contain">
    <div class="block">
        <div class="project-title">
            <h2>Dentapup</h2>
            <h4>+Wordpress, jQuery, PHP</h4>
            <a href="http://dentapup.com/">
                <h4 class="website-link">www.dentapup.com</h4>
            </a>
            <hr/>
        </div>

		<a href="assets/img/portfolio/dentapup/dentapup-homepage.jpg" data-lightbox="dentapup"><img src="assets/images/portfolio/dentapup/dentapup-homepage.jpg" /></a>

        <a href="assets/img/portfolio/dentapup/dentapup-productpage.jpg" data-lightbox="dentapup"><img src="assets/images/portfolio/dentapup/dentapup-productpage.jpg" /></a>


	</div>
</section>