<section class="portfolio-contain">
    <div class="block">
        <div class="project-title">
            <h2>Atlanta Sports Daily</h2>
            <h4>+Javascript, jQuery, PHP</h4>
            <a href="http://atlantasportsdaily.com/">
                <h4 class="website-link">www.atlantasportsdaily.com</h4>
            </a>
            <hr/>
        </div>

		<a href="assets/img/portfolio/atlsports/atlsports-homepage.png" data-lightbox="atlsports"><img src="assets/images/portfolio/atlsports/atlsports-homepage.png" /></a>

	</div>
</section>