<section class="portfolio-contain">
    <div class="block">
        <div class="project-title">
            <h2>BeAuthentic</h2>
            <h4>+Wordpress, jQuery, PHP</h4>
            <a href="http://www.beauthenticstore.com/">
                <h4 class="website-link">www.beauthenticstore.com</h4>
            </a>
            <hr/>
        </div>

		<a href="assets/img/portfolio/beauthentic/beauthentic-homepage.png" data-lightbox="beauthentic"><img src="assets/images/portfolio/beauthentic/beauthentic-homepage.png" /></a>

        <a href="assets/img/portfolio/beauthentic/beauthentic-store.png" data-lightbox="beauthentic"><img src="assets/images/portfolio/beauthentic/beauthentic-store.png" /></a>

	</div>
</section>