<section class="portfolio-contain">
    <div class="block">
        <div class="project-title">
            <h2>Panel & Engineered Lumber International Conference & Expo </h2>
            <h4>+Wordpress, jQuery, Javascript</h4>
            <a href="http://pelice-expo.com/">
            	<h4 class="website-link">www.pelice-expo.com</h4>
            </a>
            <hr/>
        </div>

        <a href="assets/img/portfolio/pelice/pelice-homepage.png" data-lightbox="pelice"><img src="assets/images/portfolio/pelice/pelice-homepage.png" /></a>

        <a href="assets/img/portfolio/pelice/pelice-sponsors.png" data-lightbox="pelice"><img src="assets/images/portfolio/pelice/pelice-sponsors.png" /></a>

    </div>
</section>