<section class="section summary-section">

  <!-- <h2 class="section-title"><i class="fa fa-user"></i>ForesTree Equipment Trader</h2> -->

    <div class="summary">
      <section class="portfolio-contain">
	    <div class="block">
	        <div class="project-title">
            <h2>ForesTree Equipment Trader</h2>
            <h4>+Wordpress, jQuery, PHP, AJAX, Javascript</h4><a href="http://forestreetrader.com"><h4 class="website-link">www.forestreetrader.com</h4></a>
            <hr/>
	        </div>
	        
	        <a href="assets/images/portfolio/forestree/fet-homepage-header.jpg" data-lightbox="forestree"><img src="assets/images/portfolio/forestree/fet-homepage-header.jpg" /></a>

	      
          <p>"ForesTree Equipment Trader is the outgrowth of Southern Loggin’ Times, a tabloid magazine founded in 1972 that soared to treetop popularity over the following decades. One reason for its towering popularity is its extensive listing of quality pre-owned forestry equipment found in each monthly issue. FET builds on this industry leading position, creating the industry’s most extensive used equipment and parts selection. 60% of the nation's annual timber harvest occurs in the U.S. South, where the majority of new forestry equipment is sold each year, and where the population of forestry equipment—particularly feller-bunchers, skidders, loaders and attachments—is the most concentrated. ForesTree Equipment Trader is a marketplace that connects you with buyers and sellers across the nation offering machinery, equipment, parts, and much more for most all makes, models and years of forestry equipment."</p>
  
      
          <p>I was approached by Hatton Brown Publishers to create a web-based classifieds platform for used forestry equipment. Advertisers from the company's publication, Southern Loggin' Times, would need to be able to purchase a membership and create their own used equipment listings. The platform needed to be able to be maintained using a content management system.</p>
          <p>I created the website using Wordpress, creating a theme from scratch. The homepage, pictured above, features a slider with a column of search options embedded. Visitors can search listings posted by category, make, model, and price.</p>
	 
	        
	        <a href="assets/images/portfolio/forestree/fet-equipment.jpg" data-lightbox="forestree"><img src="assets/images/portfolio/forestree/fet-equipment.jpg" /></a>

	        
	        <p>If a visitors uses the search element on the homepage, they will be redirected to the equipment listing page, pictured above. The listings will be filtered based on the search options chosen by the visitor. This page lists all equipment listings posted by advertisers. The search bar on the left allows visitors to search listings by keyword, date, recently created, price, category, class, make, model, condition, year, hours, tire percentage, and company. Listings can be viewed as a grid or list. AJAX was used to create seamless search functionality for the visitor.</p>
	       
	        
	        <a href="assets/images/portfolio/forestree/fet-create-listing.jpg" data-lightbox="forestree"><img src="assets/images/portfolio/forestree/fet-create-listing.jpg" /></a>

	        
	        <p>A custom post type was created to incorporate the used equipment listing. Advertisers are given an account upon purchase of a subscription. I created a front-end form for advertisers to create their own listings, allowing the advertiser to have their listing up quickly as well as edit any past listings. Each subscription has certain limitations on photos, videos, and total listing amount.</p>

	        
	        <a href="assets/images/portfolio/forestree/fet-account.jpg" data-lightbox="forestree"><img class="screenshot" src="assets/images/portfolio/forestree/fet-account.jpg" /></a>


	        <p>The picture above shows the account page for ForesTree Equipment Trader. On this page, an advertiser can view all of the listings they have posted as well as the amount of page views for each listing. An advertiser can edit, delete or mark their listing as sold as well. In the sidebar, an advertiser can see how many listings they have left to use and edit their account information.</p>

	        
	        <a href="assets/images/portfolio/forestree/fet-single.jpg" data-lightbox="forestree"><img src="assets/images/portfolio/forestree/fet-single.jpg" /></a>

	        
	        <p>A custom page template was created to display each listing with details. The main slider displays all images and videos. Messages can be sent to the seller with the contact form. In the sidebar, additional advertiser info is shown as well as related ads.</p>

		   </div>
		</section>
    </div><!--//summary-->
    
</section><!--//section-->