<section class="portfolio-contain">
    <div class="block">
        <div class="project-title">
            <h2>Mill Roots Logo</h2>
            <hr/>
        </div>

		<a href="assets/img/portfolio/maglayouts/maglayout-wb.jpg" data-lightbox="maglayouts"><img src="assets/images/portfolio/maglayouts/maglayout-wb.jpg" /></a>

		<a href="assets/img/portfolio/maglayouts/maglayout-tp.jpg" data-lightbox="maglayouts"><img src="assets/images/portfolio/maglayouts/maglayout-tp.jpg" /></a>

	</div>
</section>