section.portfolio-contain
  margin: 20px
  .block
    .project-title
      h2
        color: #252525
        text-align: center

      h4
        color: #252525
        text-align: center
        line-height: 2px

      h4.website-link
        text-align: center
        color: rgba(0,91,127,1)

      hr
        width: 20px
        border:
          color: rgba(0,91,127,1)
        margin-left: auto
        margin-right: auto

    .screenshot
      width: 500px
      margin-left: auto
      margin-right: auto
      img
        width: 100%
    .description
      width: 575px
      margin-left: auto
      margin-right: auto
    .quote
      background:
        color: lightgrey
      padding: 10px 20px
      margin-top: 20px
      margin-bottom: 20px
      p
