section.portfolio
  padding-top: 0
  padding-bottom: 30px
  background:
    image: url(../img/background/greycircles.jpg)
    repeat: repeat
    //color: #005b7f
  .flex.flex--center
    .col-3
      a
        img
          max-width: 100%
          margin-bottom: 5px
          margin-top: 10px
  .button-div
    width: 115px
    margin: auto
    margin-top: 30px

    .view-more
      color: #252525
      font:
        size: 20px
      background:
        color: white
      padding: 10px
      margin-left: auto
      margin-right: auto

@media (max-width: 640px)
  section.portfolio
    padding: 20px

    .flex.flex--center
      .col-3
        a
          img
            max-width: 33.3%
            margin: 0
    .button-div
      margin-top: 20px

      .view-more
        font:
          size: 16px
