section.about
  background:
    image: url(../img/about-bg.jpg)
    position: right right
    size: cover
  height: 400px
  padding: 50px 0

  .blue-overlay
    background:
      color: rgba(0,91,127,0.75)
    position: absolute
    top: -20px
    left: 125px
    border-radius: 0 175px 175px 175px
    padding: 50px 50px 20px 50px
    overflow: hidden

    h2
      color: white
      font:
        size: 35px
        weight: 500
      line-height: 1
      margin-left: 20px
      margin-bottom: 10px


    .home-lead
      color: white
      font:
        size: 30px
        weight: 100
        family: Helvetica
      white-space: pre
      margin-left: 20px
      line-height: 1.2

    .home-cta
      margin-left: 100px

      .contact-button
        color: white
        font:
          size: 20px
        background:
          color: #252525
        padding: 10px
        margin-left: 20px


@media (max-width: 775px)
  section.about
    height: 225px
    background:
      image: url(../img/about-bg-tablet.png)
      position: left top
      size: cover

    .blue-overlay
      top: 120px
      left: -20px
      border-radius: 0 150px 150px 150px
      padding: 0px 20px 10px 20px

      h2
        font:
          size: 30px
          weight: 500

      .home-lead
        color: white
        font:
          size: 25px
          weight: 100
          family: Helvetica
        white-space: pre
        margin-left: 20px
        line-height: 1.2

@media (max-width: 640px)
  section.about
    background:
      image: url(../img/about-bg.jpg)
      position: center top
      size: cover
    height: 200px
    margin-bottom: 188px
    width: 100%

    .blue-overlay
      background:
        color: rgba(0,91,127,1)
      position: absolute
      bottom: 0px
      border-radius: 0
      padding: 0
      height: 240px
      top: auto
      width: 100%
      left: 0px

      h2
        font:
          size: 25px
        text-align: center
        margin-left: 0

      .home-lead
        font:
          size: 20px
        text-align: center
        margin-left: 0

      .home-cta
        padding: 0
        text-align: center
        margin: 0

        .contact-button
          font:
            size: 16px
          margin-left: auto
          margin-right: auto
