section.links
  .flex
    .github
      width: 40%
      height: 100px
      background:
        color: #959595
      padding: 10px 0
      img
        display: block
        height: 100%
        margin-left: auto
        margin-right: auto

    .twitter
      width: 30%
      height: 100px
      background:
        color: #898989
      padding: 10px 0
      img
        display: block
        height: 100%
        margin-left: auto
        margin-right: auto

    .linkedin
      width: 30%
      height: 100px
      background:
        color: #707070
      padding: 10px 0
      img
        display: block
        height: 100%
        margin: 0 auto

@media (max-width: 640px)
  section.links
    .flex
      .github
        height: 50px
        float: left
      .twitter
        height: 50px
        float: left
      .linkedin
        height: 50px
        float: left
